.listaHeader {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
    color: black;
}

.barraNav {
    text-decoration: none;
    color: black;
    width: 15%;
}

ul {
    padding-inline-start: 0px;
}

.listaLogo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.buscador {
    width: 30%;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.rec, .formCargar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.artRec, .artFormCargar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
}

img {
    width: 95%;
}

.listaFooter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}