.elementosFlex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 150px;
}

.listaHeader {
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
    color: black;
}

.barraNav {
    text-decoration: none;
    color: black;
    width: 15%;
}

ul {
    padding-inline-start: 0px;
}

.buscador {
    width: 30%;
}

.artRec {
    width: 20%;
    justify-content: space-around;
}

img {
    width: 95%;
}

.recetasData {
    text-align: center;
}
.listaFooter {
    justify-content: space-evenly;
    list-style: none;
}