* {
    box-sizing: border-box;
}

.elementosFlex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

body {
    background-image: url(../img/Flipsnack.jpeg);
    background-image: horizontal;
}

/* Header */
.logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 95%;
    height: 90px;
    border-radius: 150px;
    margin-top: 5%;
    margin-bottom: 5%;

}

li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-self: center;
    
}

nav{
    justify-content: center;
}


header{
    background-color: rgb(29, 158, 145);
    
}

.listaHeader {
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    
}

.barraNav {
    text-decoration: none;
    color: white;
    width: 15%;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    flex-direction: column;
    align-items: center;
}

ul {
    padding-inline-start: 0px;
}

#buscador {
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-color: black;
    border: solid 0.5px;
    width: 80%;
}

.buscador {
    width: 400px;
    height: 25px;
}

.btnNav{
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    border: solid 0.5px;
    border: rgb(193, 190, 190);
    border-color: black;
    border: solid 0.5px;

}


.buscadorNav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 25px;
    justify-content: space-between;
}

/* BODY index */

.artRec {
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 0.5%;
    width: 17%;
    justify-content: space-around;
    border: solid, rgb(23, 157, 157);
    background-color: white;
}

.rec {
    justify-content: space-around;
}

img {
    width: 95%;
}

h1{
    font-family: "Norican", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(29, 82, 82);
    font-size: 43px;
    
}

.PadreTitulo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.cargarMas{
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    padding: 8px;
}

/* detalle recetas */

.detalleReceta {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.imgReceta {
    width: 50%;
    border: solid, rgb(23, 157, 157);
    border-radius: 5px;
    padding: 2%;
    background-color: white;
}

.sectionRecetas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.articleRecetas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.recetasData {
    text-align: center;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
}

/* Login - Register */

.seccionLogin {
    align-content: center;
    display: flex;
    flex-direction: column;
}

.padreLoginRegister {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 350px;
}

.HijoLogin {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    align-content: center;
    text-align: center;
    width: 30%;

}

.HijoLoginRegister{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
    align-content: center;
    text-align: center;
    width: 50%;

}

.login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-color: black;
    border-radius: 20px;
    border: solid 2px;
    align-self: center;
    width: 40%;
    padding: 20px;
    background-color: rgba(0, 150, 150, 0.377);
    height: 270px;
    justify-content: center;
}

.register{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    border-color: black;
    border-radius: 20px;
    border: solid 2px;
    align-self: center;
    width: 40%;
    padding: 30px;
    background-color: rgba(0, 150, 150, 0.377);
    height: 310px;
    align-self: center;
    justify-content: center;

}

.email {
    height: 40px;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: white;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    width: 300%;

}

.emailRegister{
    height: 40px;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: white;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    width: 200%;

}

.contra {
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: white;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    width: 300%;
}

.contraRegister{
    height: 40px;
    border-radius: 10px;
    margin-bottom: 2px;
    background-color: white;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    width: 200%;

}

.CuentaNo{
    color: black;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    
}

.terminos{
    color: black;
    margin-bottom: 20px;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;

}

.padreTerminos{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}


.CuentaSi{
    color: black;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;

}

#terminos{
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    align-self: flex-start;
}

.loginBtn{
    width: 50%;
    height: 30px;
    border-radius: 7px;
    background-color: rgb(6, 151, 255);
    color: white;
    border-color:  rgb(6, 151, 255);
    margin-bottom: 20px;
    font-family: "Alice", serif;
    font-weight: 400;
}

.registerBtn{
    width: 50%;
    height: 30px;
    border-radius: 7px;
    background-color: rgb(6, 151, 255);
    color: white;
    border-color:  rgb(6, 151, 255);
    margin-bottom: 10px;
    font-family: "Alice", serif;
    font-weight: 400;

}

/* Detalle (receta) */

.PadreDetalle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 2%;
}

.HijoDetalleTexto{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-items: center;
    border: 1px, black, solid;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    padding: 2%;
    
}

.HijoDetalleCaja{
    width: 40%;
    border: 1px, black, solid;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    align-self: center;
    align-content: center;
    justify-content: center;

}

.instrucciones{
    align-self: center;
    text-align: center;
    font-size: 20px;
    color: rgb(36, 103, 76);

}

.searchTags{
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;

}

.tags{
    width: 100%;
    font-family: "Alice", serif;
    font-weight: 400;
    font-size: 20px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.tiempo{
    font-family: "Alice", serif;
    font-weight: 400;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;

}

h3{
    margin-top: 7px;
    margin-bottom: 3px;
    font-family: "Alice", serif;
    font-weight: 400;
    color: black;

}

.tituloRecetas{
    text-align: center;
    text-decoration: underline;
}

.categoriasRecetas{
    font-family: "Alice", serif;
    font-weight: 400;
    color: rgb(0, 117, 93);
    margin-top: 10px;
    text-decoration: none;
    font-size: smaller;

}

#text{
    font-family: "Alice", serif;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;

}



/* Category */

.imgCat{
    width: 50%;
    margin-top: 2%;
}

.searchTags{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    justify-content: space-evenly;
}

.articleCategory{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: rgb(0, 156, 117) solid;
    border: 1%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    width: 30%;
    margin: 2%;
}

.tituloCategory{
    font-family: "Alice", serif;
    font-weight: 400;
    color: black;
    font-weight: bold;
}

.dificultadCategory{
    font-family: "Alice", serif;
    font-weight: 400;
    color: black;

}


.parrafoCategory{
    font-family: "Alice", serif;
    font-weight: 400;
    color: black;

}

/* Categories */

.textoCategory{
    font-family: "Alice", serif;
    font-weight: bold;
    font-style: normal;
    color: rgb(255, 255, 255);


}

.todasCategorias{
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    background-color: rgba(0, 139, 136, 0.37);
    width: 30%;
    
}

.mainCategories{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.category {
    font-family: "Norican", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-decoration: none;
}


/* SearchResults */

.tituloResults{
    text-align: center;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
}


/* Footer */

.listaFooter {
    justify-content: space-evenly;
    list-style: none;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

footer {
    background-color: rgb(29, 158, 145);
    height: 60px;
   
}

navFooter{
    height: 60px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listaFooter{
    height: 60px;
}

.textoFooter{
    font-size: 15px;
}

/* Search Results */

.searchResults{
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.articleSearch{
    width: 50%;
    border: 20px solid;
    border: rgb(0, 165, 156);
}









/* Responsive */

@media (max-width: 420px) {
   
    /* Header */

    .listaHeader {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navHeader{
        height: 310px;
    }

    .listaLogo{
        margin-bottom: 10px;
    }

    .buscador{
        margin-bottom: 10px;
        width: 100%;
    }

    .buscadorNav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 80%;
        align-self: center;
    }

    .barraNav{
        margin-bottom: 10px;
        font-size: 21px;
    }

     /* index */

    .tituloIndex {
        font-size: 30px;
    }

    .artRec {
        width: 45%;
    }
    

    /*Login y Register*/

    .login, .register {
        width: 80%;
    }

    .email, .contra, .HijoLogin {
        width: 100%;
    }

    .HijoLoginRegister {
        width: 80%;
    }

    .emailRegister, .contraRegister {
        width: 130%;
    }

    .registerBtn {
        width: 70%;
    }

    .padreTerminos {
        width: 100%;
    }

    /* Recetas */

    .HijoDetalleCaja {
        width: 90%;
        justify-items: center;
        margin-bottom: 5%;
    }
    .tituloRecetas {
        font-size: 30px;
        text-align: center;
    }

    .HijoDetalleTexto {
        width: 90%;
        justify-items: center;
    }

    .tiempo {
        text-align: center;
    }

    /* Categories */

    .todasCategorias {
        width: 50%;
    }

    .mainCategories{
        height: 3500px;
    }

    /* Category */

    .articleCategory {
        width: 90%;
    }

    .tituloCategory {
        text-align: center;
    }

    /*Footer*/

    .textoFooter {
        font-size: 10px;
    }

}


